xml/Levels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Levels">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Level"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Level">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Level_Name"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Level_Name" type="xs:NCName"/>
</xs:schema>
