xml/Question_Exams.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Question_Exams">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Question_Exam"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Question_Exam">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Question_ID"/>
      </xs:sequence>
      <xs:attribute name="exam_id" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Question_ID" type="xs:integer"/>
</xs:schema>
