xml/Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Types">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Type"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Type">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Type_Name"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Type_Name" type="xs:string"/>
</xs:schema>
